*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/wave-haikei.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
body button{
    width: 200px;
    background-color: #000;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 60px 40px 60px 60px;
    align-items: center;
}

/*DETAILS STYLING  STARTS*/
.details-container{
    margin-top: 40px;
    background-color: rgba(58, 14, 14, 0.3);
    color: #000;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border: 1px solid rgb(197, 197, 240, 0.5); 

}
.details-container form{
    display: flex;
    flex-direction: column;
}
.details-container form label{
    margin-bottom: 2px;
}
.details-container form input{
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    padding-left: 3px;
}
.SelectLocation{
    display: flex;
    margin-top: 10px;
}
.SelectLocation .city label{
    margin-left: 5px;
}
.SelectLocation .city input{
    height: 20px;
    width: 100px;
}
/*DETAILS STYLING ENDS*/

/*PAYMENT STYLING STARTS*/
.payment-container{
    border: 1px solid rgba(65, 32, 32, 0.9);
    background-color: rgb(255, 255, 255,);
    padding: 25px;
}
.payment-container p{
    text-align: center;  
}
.payment-container form .card-section{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}
.card1,
.card2,
.card3,
.card4{
    display: flex;
    align-items: center;
    margin: 5px;
}
.mscard-div,
.visa-div,
.paypal-div,
.cash-div{
    max-width: 100px;
}
.mscard-div label img,
.visa-div label img,
.paypal-div label img,
.cash-div label img{
    width: 100%;
    margin-left: 10px;
}
.cash-div{
    margin-left: 10px;
}
.cash-div label {
    background: linear-gradient( 20deg, red,rgb(11, 11, 238));
    color: #fff;
}
.payment-container form .form-section .card-front{
    margin-left: 0px;
    /* display: flex;
    flex-direction: column; */
    
}
.payment-container form .form-section .card-front input{
    /* width: 80%; */
    height: 35px;
    margin-bottom: 20px;
}

/*card-back*/
.payment-container form .form-section .card-back{
    margin-bottom: 10px;
}
.payment-container form .form-section .card-back select{
    width: 120px;
}
.payment-container form .form-section .card-back label{
    margin-left: 5px;
}
.payment-container form .form-section .card-back input{
    height: 25px;
}
.payment-container form input{
    margin-left: 10px;
    margin-top: 20px;
}
.payment-container form span{
    margin-left: 5px;
}
.payment-container form button{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    color: #000;
    background-color:#009DDC;
    border-radius: 7px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.payment-container form .summary,
.payment-container form .total{
    background-color: #F8F8F8;
}
.payment-container form .summary .sum{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 30px;
    
}
.payment-container form .summary .delivery{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.payment-container form .total{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 10px;
}

/*PAYMENT STYLING ENDS*/